<h2 mat-dialog-title>Create Modal</h2>
<div mat-dialog-content>
  <form [formGroup]="newItem">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Position</mat-label>

      <input
        matInput
        formControlName="position"
        type="number"
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Weight</mat-label>

      <input
        matInput
        formControlName="weight"
        type="number"

      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Symbol</mat-label>

      <input
        matInput
        formControlName="symbol"
      >
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close="false">No</button>
  <button mat-button (click)="createItem()">Create</button>
</div>
